<div id="<%= dom_id user_jog %>">
  <p>
    <strong>User:</strong>
    <%= user_jog.user.email %>
  </p>

  <p>
    <strong>Jogging date:</strong>
    <%= user_jog.jogging_date %>
  </p>

  <p>
    <strong>Jogging time:</strong>
    <%= user_jog.jogging_time %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= user_jog.distance %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= user_jog.createdby.email %>
  </p>


</div>
