<div id="<%= dom_id user_jog %>">
  <p>
    <strong>User:</strong>
    <%= user_jog.user_id %>
  </p>

  <p>
    <strong>Jogging date:</strong>
    <%= user_jog.jogging_date %>
  </p>

  <p>
    <strong>Jogging time:</strong>
    <%= user_jog.jogging_time %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= user_jog.distance %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= user_jog.created_by %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= user_jog.deleted %>
  </p>

  <p>
    <strong>Deleted by:</strong>
    <%= user_jog.deleted_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= user_jog.deleted_at %>
  </p>

  <p>
    <strong>:</strong>
    <%= user_jog. %>
  </p>

</div>
